<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan" rel="stylesheet"> 
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app="directoryApp">
    <div class="container">
      <div class="row top-bar">
        <h1>UF Directory App</h1>
      </div>
      <div class="row" ng-controller="ListingsController">
        <div class="col-md-6">
          <div class="input-group" id="searchBar">
            <!-- 

                Implement a way to filter through listings using the search bar 

              -->
            <span class="input-group-addon  custom-search-button" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control customize-input" placeholder="Search" ng-model="query">
          </div>
          <div class="tableWrapper">
            <table class="table custom-table">
              <tr class="first-row">
                <td>Code</td>
                <td colspan=2>Building Name</td>
              </tr>
              <!-- 

                  Fill in the rest of the table:
                      * populate the rows with the code and name of each listing
                      * include a way to remove individual listings

                --> 
                <tr class="other-rows" ng-repeat="listing in (filteredListings = (listings | filter:query))">
					<td width="10%" ng-click = "showDetails($index)"> {{listing.code}}</td>
					<td width="80%" ng-click = "showDetails($index)"> {{listing.name}}</td>
					<th width="10%" class="delete-button" ng-click="deleteListing(listing)">X</th>

                </tr>
            </table>
          </div>
          <!-- 

              Write an HTML form that adds new listings to the directory 

            -->
            <form class="form-inline custom-form">
  				<div class="form-group">
    				<input type="text" class="form-control customize-input" id="exampleInputName2" placeholder="Code" ng-model="code">
  				</div>
  				<div class="form-group">
    				<input type="text" class="form-control customize-input" id="exampleInputEmail2" placeholder="Name" ng-model="name">
  				</div>
  				<button class="btn btn-background" ng-click="addListing()">+</button>
			</form>
        </div>
        <div class="col-md-6">
          <div class="jumbotron detailed-style">
            <h2>Detailed Information</h2>
            <!-- 

              Include a way to display detailed information about an individual listing:
                   * consider how to use ng-click within the the table to implement this feature

             -->
             <div ng-if="detailedInfo != null">
             	<h3>Name: {{detailedInfo.name}}</h3>
             	<h4 class="h4-light">Code: {{detailedInfo.code}}</h4>
             	<h4 class="h4-light">Lat: {{detailedInfo.coordinates.latitude}}   Lon: {{detailedInfo.coordinates.longitude}}</h4>
             	<h4 class="h4-light">Address: {{detailedInfo.address}}</h4>

             </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>
  </body>
</html>